.login__image--container {
    background-image: url(https://media.istockphoto.com/vectors/sign-in-page-on-computer-screen-desktop-computer-with-login-form-and-vector-id831418828?k=20&m=831418828&s=170667a&w=0&h=H9yVmXDeMov5RZNbe6qAjxdGoxERmntBlFBZc-Sbulk=);
    height: 100vh;
    background-size: cover;
}

@media screen and (max-width: 756px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
}